<app-nav></app-nav>
<mat-divider></mat-divider>
<mat-card>
    <div class="mat-elevation-z8">
        <mat-toolbar>
            <mat-form-field>
                <mat-select placeholder="Option">
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option2</mat-option>
                    <mat-option value="option">Option3</mat-option>
                    <mat-option value="option">Option4</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-toolbar>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
            </ng-container>
            <ng-container matColumnDef="AwayTeam">
                <th mat-header-cell *matHeaderCellDef> Equipo invitado </th>
                <td mat-cell *matCellDef="let element"> {{element.AwayTeam}} </td>
            </ng-container>
            <ng-container matColumnDef="HomeTeam">
                <th mat-header-cell *matHeaderCellDef> Equipo local </th>
                <td mat-cell *matCellDef="let element"> {{element.HomeTeam}} </td>
            </ng-container>
            <ng-container matColumnDef="FTHG">
                <th mat-header-cell *matHeaderCellDef> Goles Local </th>
                <td mat-cell *matCellDef="let element"> {{element.FTHG}} </td>
            </ng-container>
            <ng-container matColumnDef="FTAG">
                <th mat-header-cell *matHeaderCellDef> Goles Invitado </th>
                <td mat-cell *matCellDef="let element"> {{element.FTAG}} </td>
            </ng-container>
            <ng-container matColumnDef="HC">
                <th mat-header-cell *matHeaderCellDef> Corners equipo local </th>
                <td mat-cell *matCellDef="let element"> {{element.HC}} </td>
            </ng-container>
            <ng-container matColumnDef="AC">
                <th mat-header-cell *matHeaderCellDef> Corners equipo invitado </th>
                <td mat-cell *matCellDef="let element"> {{element.AC}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
    </div>
</mat-card>
